/* body styles */
body {
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	flex-direction: column;
	color: seashell;
	font-family: sans-serif;
	background-color: black;
}

/* header styles */
header {
	display: flex;
	width: 100%;
	height: 69px;
	font-family: sans-serif;
  	font-size: 14px;
  	font-weight: bold;
	border-bottom: solid seashell 1px;
	z-index: 1;
	position: fixed;
	align-items: center;
	background-color: black;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo img {
	height: 50px;
	margin-left: 10px;
}

nav {
	display: flex;
	flex-direction: row;
}

nav span {
	font-size: 20px;
	text-decoration: underline;
	margin-right: 20px;
}

/* container styles */
#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 70px;
	background-color: black;
}

/* Our mission styles */
.our-mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/img-mission-background.jpg");
	width: 1200px;
	height: 700px;
}

div.our-mission-text {
	text-align: center;
	background-color: black;
}

.content-text {
	text-align: center;
	background-color: black;
}

/* Tea of the month styles */
.tea-of-the-month {
	width: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tea-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tea-images div {
	margin-right: 10px;
}

.image {
	width: 300px;
	height: 200px;
}

/* footer styles */

